/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

figure,
h1,
h2,
h3 {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Root styles */

:root {
  --clr-primary-100: 225, 100%, 94%;
  --clr-primary-400: 245, 75%, 52%;
  --clr-neutral-100: 225, 100%, 98%;
  --clr-neutral-200: 224, 23%, 55%;
  --clr-neutral-700: 223, 47%, 23%;
}

/* General */

html {
  font-size: 1rem;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background: url('images/pattern-background-mobile.svg') no-repeat hsl(var(--clr-primary-100));
  display: grid;
  place-items: center;
  text-align: center;
  overflow: hidden;
}

.wrapper {
  max-width: 28.125rem;
  display: flex;
  flex-flow: column;
  width: 85%;
  background: white;
  border-radius: 2rem;
}

.hero img {
  width: 100%;
  border-radius: 2rem 2rem 0 0;
}

.main-flex-group {
  padding: 2rem;
}

h1 {
  font-size: 1.75rem;
  padding-top: 1rem;
  color: hsl(var(--clr-neutral-700));
}
.main-flex-group p {
  margin: 1.5rem 0;
  color: hsl(var(--clr-neutral-200));
}

.purchase-plan {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  background: hsl(var(--clr-neutral-100));
  border-radius: 1rem;
}

.purchase-plan span a {
  color: hsl(var(--clr-primary-400));
}

.purchase-plan span a:hover {
  text-decoration: none;
  opacity: 0.75;
}

.purchase-plan p {
  margin: 0;
}

.purchase-plan figure {
  width: auto;
  flex-shrink: 0.2;
}

.flex-group {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.flex-group:nth-child(2) {
  padding-right: 25%;
  line-height: 1;
  gap: 0.4rem;
}

.flex-group:nth-child(3) {
  align-items: center;
}

.flex-group h2 {
  font-size: 1rem;
}

.button {
  border-radius: 0.5rem;
  border: none;
  background-color: hsl(var(--clr-primary-400));
  color: hsl(var(--clr-neutral-100));
  padding: 0.8rem;
  width: 80%;
  font-weight: 900;
  cursor: pointer;
  box-shadow: 0 0.75rem 1rem hsl(var(--clr-primary-400), 0.2);
}

.button:hover {
  opacity: 0.75;
}

.cancel {
  margin: 1.5rem 0 3rem 0;
  color: hsl(var(--clr-neutral-200));
  font-weight: 700;
  cursor: pointer;
}

.cancel:hover {
  color: hsl(var(--clr-neutral-700));
}

@media screen and (min-width: 376px) {
  body {
    background: url('images/pattern-background-desktop.svg') no-repeat hsl(var(--clr-primary-100));
  }
}